<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
          name="textWriterTraceListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="D:\log\log4net.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <!-- https://logging.apache.org/log4net/release/config-examples.html -->
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="TestAppender" />
      <appender-ref ref="Appender4"/>
      <!--<appender-ref ref="LogglyAppender" />-->
    </root>
    <logger additivity="false" name="Logger1">
      <level value="All" />
      <appender-ref ref="Appender1"/>
      <appender-ref ref="Appender4"/>
    </logger>
    <logger additivity="false" name="Logger2">
      <level value="All" />
      <appender-ref ref="Appender2"/>
    </logger>
    <logger additivity="false" name="Logger4">
      <level value="All" />
      <appender-ref ref="Appender4"/>
    </logger>
    <appender name="TestAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="D:\log\MyTestAppender.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="Appender1" type="log4net.Appender.FileAppender">
      <file value="D:\log\Appender1.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %message%newline" />
      </layout>
    </appender>
    <appender name="Appender4" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <forecolor value="Green" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <forecolor value="Red" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <forecolor value="Yellow" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="Appender2" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=.\SQLEXPRESS;Initial Catalog=Log4NetTest;integrated security=SSPI;" />
      <reconnectonerror value="true" />
      <bufferSize value="1" />
      <commandText value="INSERT INTO [dbo].[logger1] ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="1024" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>
    <!-- log to url -->
    <!-- change log level -->
    <!-- Blacklist / Whitelist class to log : http://www.claassen.net/geek/blog/2009/06/log4net-filtering-by-logger.html : http://www.beefycode.com/post/log4net-tutorial-pt-7-filters.aspx -->

    <!--<appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %message" />
      </layout>
      <rootUrl value="https://thiamchigan.loggly.com/" />
      <inputKey value="c3297829-dc1a-45c9-9cee-c68d2b42faa1" />
      <tag value="log4net" />
    </appender>-->
  </log4net>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>