<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.Ads" version="4.2.173" targetFramework="net452" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MathNet.Numerics" version="4.5.1" targetFramework="net452" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net452" />
  <package id="WpfMath" version="0.5.0" targetFramework="net452" />
</packages>